@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Funnel+Display:wght@300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
}